/* owl */

/*============================================ Global styles ==============================================*/
#refer-ligitimacy img {
    height: 150px;
    width: 100%;
}

#contact-form {
    /* width: 95%; */
}


#contact,
.find-us h5,
#contact-form,
#refer-ligitimacy,
#refer-main {
    font-family: Overpass, Dosis;
}

#contact p {
    font-family: Lato;
}

#cards .card {
    width: 70%;
}

#cards .card h4 {
    font-family: Overpass, Dosis;
    ;
}

#cards .card h5 {
    color: #7cbd1e;
    font-family: Lato;
}

#cards .card p {
    font-size: 17px;
    font-family: Lato;
}

#cards .card-content {
    height: 250px;
}


#join-main {
    background: #fafafa !important;
}

#how-parallax {
    height: 620px;
}

/* .spacer {
    height: 66px;
} */

#main table {
    width: 70%;
}

#main table th {
    font-family: Overpass, Dosis;
    font-size: 16px;
}

#main {
    font-family: Lato;

}

.container {
    width: 80%;
}

#main i span {
    font-size: 50px;
    color: #069588;
}

/* #home-message .container {
    background-color: #009688;
    opacity: .8;
} */


#home-message {
    font-family: 'Lato', 'Helvetica', 'sans-serif';
    background-image:
        linear-gradient(rgba(29, 169, 157, .8),
        rgba(29, 169, 157, .8)),
        url("../images/formbg.jpg");
    background-repeat: no-repeat;
}

#home-message .card-panel {
    background-color: rgba(0, 0, 0, 0.5);
}

#home-message form .input-field {
    padding-top: 15px;
}

#home-message {
    color: white;
}

#home-message form {
    width: 100%;
    /* height: 100%; */
}

#home-message .input-field>label {
    color: white !important;
}

#home-message textarea {
    font-family: Lato;
    font-size: 15px;
    color: white;
}


#main2 p,
#intro-team p,
#how-main p {
    font-family: Overpass, Dosis;
    color: #383838;
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
}

#main2 h4,
#intro-team h5,
#intro-team h4,
#how-main h4 {
    font-family: Overpass, Dosis;
    color: black;
}

/*============================================== Navigation ================================================*/
nav {
    height: 66px;
    border-bottom: 2px solid #009688;
    box-shadow: none !important;
}

nav ul li.active a {
    color: #009688 !important;
}

nav .section {
    padding-top: 0px;
}

.brand-logo img {
    padding-top: 15px;
    padding-bottom: 10px;
    /* padding-left: 60px; */
    width: 70%;
    /* position: relative;
    left: 50px; */
}

#nav-mobile {
    /* padding-right: 160px; */

}

nav ul a {
    color: gray;
}

/* ================================================ Home ===================================================*/
#main,
#intro-team,
#refer-ligitimacy {
    background-color: #eee;
}

video {
    width: 100%;
    position: fixed;
}


/*================================================== Slider =================================================*/
#edu-image{
    height: 320px;
}

#home-slider {
    font-family: Overpass, Dosis;
}

#home-slider .carousel {
    position: relative;
    bottom: 25px;
}

#home-slider .card .card-image .card-title {
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

#home-slider .carousel .carousel-item {
    width: 500px;
}

/*============================================== Footer ====================================================*/
#footer li {
    display: inline-flex;
    padding-bottom: 15px;
}

#footer i {
    padding-right: 10px;
}


#footer {
    font-family: Lato;
    text-align: justify;
    text-justify: inter-word;
}

#footer h4 {
    font-family: Overpass, Dosis;
    font-size: 16px;
}

#footer {
    font-family: Lato;
}


#questions {
    position: relative;
    left: 12%;
}

/* ============================================ Media Queries ============================================= */
/* Mobile phone */
@media only screen and (max-width: 600px) {
    #cards .card {
        width: 75%;
        position: relative;
        left: 11%;
    }


    #main table {
        width: 100%;
    }

    .parallax-container {
        height: 195px;
    }

    .brand-logo img {
        width: 56%;
    }

    #home-slider .carousel .carousel-item {
        width: 450px;
    }


}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);